<div class="tab-bar tab-bottom">
    <a class="tab-button cached" href="{:U('Home/Usercenter/Index')}"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
    <a class="tab-button cached" href="{:U('WapShop/Index/index')}"><i class="tab-button-icon icon icon-exhibition" ></i><span class="tab-button-txt">商城</span></a>
    <a class="tab-button cached" href="{:U('Donation/Index/index')}"><i class="tab-button-icon icon icon-service" ></i><span class="tab-button-txt">捐款</span></a>
    <a class="tab-button active" href="{:U('Wapuserinfo/Index/index')}"><i class="tab-button-icon icon icon-my" ></i><span class="tab-button-txt">我的</span></a>
</div>